.site {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: auto;
	grid-template-areas:
		"h h h h h h h h h h"
		". c c c c c c c c ."
		"f f f f f f f f f f";
}
.site-header {
	grid-area: h;
}
.site-content {
	grid-area: c;
	display: grid;
	grid-template-columns: auto 250px;
	grid-template-areas:
		"c s";
	#primary {
		grid-area: c;
	}
	#secondary {
		grid-area: s;
	}
}
.site-footer {
	grid-area: f;
}
