.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5rem;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

.entry-title {
	text-align: center;
	margin: 0 auto;
}
.entry-content {
	.drop-cap {
		float: left;
		font-size: 6rem;
		font-weight: bold;
		color: $gold;
		line-height: .8;
		padding: .25rem 1rem 0 .2rem;

	}
	.rest-of-the-content {

	}
}
